.header {
    width: 1280px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 38px;
    height: 38px;
    border-radius: 200px;
    background-color: #2BE080;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 25px;
}

.list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.person {
    width: 20px;
    height: 20px;
    justify-self: flex-end;
}

.listItem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.listLink {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}