.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1140px;
    height: 56px;
    padding: 20px 70px 0 70px;
    border-top: 1px solid gray;
}

@media screen and (max-width: 1279px) {
    .footer {
        width: calc(100% - 142px);

    }
}

.link {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    transition: .3s ease;
}

.link:hover {
    opacity: .6;
}